input {
  color: var(--main-dark-color);
  font-size: var(--main-font-paragraph-size);
  border-radius: var(--general-border-radius);
  padding: var(--general-padding);
  width: var(--general-input-width);
  border: 0;
}

input:focus {
  outline: none;
}
input::placeholder {
  font-size: smaller;
}
