.button {
    color: var(--typography-color);
    background-color: var(--action-color);
    border-radius: var(--main-border-radius);
    border: 0;
    font-size: var(--main-font-paragraph-size);
    padding: var(--main-padding) var(--main-padding-large);
}