.Menue_ul {
  height: 100%;
  width: 40%;
  position: absolute;
  padding: var(--main-padding-large);
  top: 70px;
  background-color: var(--main-dark-color);
  margin: 0 auto;
  padding: var(--main-padding-medium);
  opacity: 0.8;
  z-index: 10;
  transition: 0.5s;
  list-style-type: none;
  line-height: 200%;
}

.Menue_ul.closed {
  left: -100vw;
}

.Menue_ul.open {
  left: 0vw;
}
