.Menue_div {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70px;
    background-color: var(--main-dark-color);
    opacity: 0.8;
    z-index: 10;
    transition: 0.5s;
}

.Menue_div.closed {
    left: -100vw;
}

.Menue_div.open {
    left: 0vw;
}