.product {
    padding: var(--general-padding-large);
    overflow-y: scroll;
}

.product__info {
    margin: var(--general-margin);
}

.product__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: var(--general-margin-large) 0px;
}

.product__footer_item {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    font-size: var(--small-font);
    text-align: center;
}


.itemInGallery__img {
    position: absolute;
    /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Make the picture taking the size of it's parent */
    width: 100%;
    /* This if for the object-fit */
    height: 100%;
    /* This if for the object-fit */
    object-fit: cover;
    /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
}