.product {
    padding: var(--general-padding-large);
    overflow-y: scroll;
}

.product__info {
    margin: var(--general-margin);
}

.product__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:  var(--general-margin-large) 0px;
}

.product__footer_item {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    font-size: var(--small-font);
    text-align: center;
}