.search_panel {
  background-color: var(--main-dark-color);
  height: var(--header-height);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: var(--main-padding);
}
.search_panel_input {
  margin: var(--main-margin);
  border-radius: 50px;
  width: 70%;
}

.search_panel_submit_btn {
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 150%;
  padding: 0;
}
