.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-dark-color);
    padding: var(--main-padding-large) var(--main-padding-largest);
    width: 100vw;
}

.header_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header>* {
    height: 40px;
    width: 40px;
}

.svg-inline--fa.fa-w-14 {
    height: 40px;
    width: 40px;
}

.header_ham {
    color: white;
}

.header_userLogo {
    width: 10%;
    border-radius: 50%;
}