.product_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: var(--main-padding);
}

.product_info_h3 {
  margin: 0;
  font-size: var(--main-font-header-size);
}
.product_info_p {
  flex: 1;
  overflow-y: hidden;
  font-size: var(--main-font-paragraph-size);
}
.product_info_link { 
}
