.product_info {
  width: 65%;
  height: 100%;
  margin: var(--general-margin);
  overflow-y: scroll;
}
h3 {
  font-size: var(--main-font-paragraph-size);
}
p {
  font-size: var(--main-font-paragraph-size);
}
