* {
  box-sizing: border-box;
}

.products {
  width: calc(100% - var(--main-margin-medium));
  overflow-y: scroll;
  margin-top: var(--main-margin-medium);
}

.products_list {
  width: 100%;
  background-color: var(--typography-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font: var(--main-font);
  /* padding: 0 var(--main-padding) ; */
  padding: 0 var(--main-padding-medium) ;
  margin: 0;
}

.product_img_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
  overflow-y: hidden;
  background-color: var(--action-color);
}

.product_img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 80%;
}

.product_img_footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: var(--main-padding);
  width: 100%;
  height: 20%;
  font-size: calc(var(--main-font-paragraph-size) * 0.7);
}