.products_list {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: var(--general-margin);
  font: var(--main-font);
}

li.product_item {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 15rem;
  margin: var(--general-margin-large);
  box-shadow: -1px 5px 3px #b1acac;
}
.product_img_wrapper {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--action-color);
}
.product_img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 80%;
}
.produc_img_footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: var(--general-padding);
  width: 100%;
  height: 20%;
}
