p {
  margin: 0;
  padding: 0;
}
.signUp {
  /* height: calc(100% - 70px); */
  flex: 1;
  background-color: var(--main-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.signUp button {
  width: var(--general-input-width);
}

.signUp_welcome {
  text-align: center;
  color: var(--typography-color);
}
