.App {
    font-size: var(--main-font-size);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.error {
    color: red;
}

/* scroll bar */

.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: var(--main-border-radius);
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: var(--main-border-radius);
}

.scroll_dark::-webkit-scrollbar-track {
    background-color: var(--typography-color);
}

.scroll_dark::-webkit-scrollbar {
    background-color: var(--typography-color);
}

.scroll_dark::-webkit-scrollbar-thumb {
    background-color: var(--main-dark-color);
}

.scroll_light::-webkit-scrollbar-track {
    background-color: var(--typography-color);
}

.scroll_light::-webkit-scrollbar {
    background-color: var(--typography-color);
}

.scroll_light::-webkit-scrollbar-thumb {
    background-color: var(--main-dark-color);
}