:root {
  /* colors */
  --typography-color: #fff;
  --typography-color-dark: #000;
  --main-dark-color: #27496d;
  --main-light-color: #759fcc;
  --action-color: #ee8572;
  /* fonts */
  --main-font: "roboto sans-serif";
  --main-font-size: 13px;
  --main-font-title-size: 2em;
  --main-font-header-size: 1.2em;
  --main-font-paragraph-size: 1em;
  --small-font: 0.5em;
  /* component sizes */
  --header-height: 60px;
  --main-border-radius: 10px;
  --main-border-radius-small: 5px;
  --main-padding: 5px;
  --main-padding-medium: 10px;
  --main-padding-large: 15px;
  --main-margin: 5px;
  --main-margin-medium: 10px;
  --main-margin-large: 15px;
  --main-input-width: 250px;
}
